NEXT_PUBLIC_FIREBASE_API_KEY=নতুন_api_key_এখানে_বসান
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=fuelguard-bochaganj.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=fuelguard-bochaganj
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=fuelguard-bochaganj.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1060481740844
NEXT_PUBLIC_FIREBASE_APP_ID=নতুন_app_id_এখানে_বসান
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-GJHZ7M2VB6

FIREBASE_PROJECT_ID=fuelguard-bochaganj
FIREBASE_CLIENT_EMAIL=নতুন_service_account_email_এখানে_বসান
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nনতুন_private_key_এখানে_বসান\n-----END PRIVATE KEY-----\n"
